{% extends 'base.html' %} {% block content %}
<div class=" cuisine_container">

    <div class="h2">
        <h2 class="heading_shadow">Cuisines</h2>
    </div>

    <div class="row">
        <div class="allrecipes_addbutton col s12">
            <a href="{{url_for('addcuisine')}}" class="waves-effect waves-light btn light-blue darken-4 btn_add right"><i class="material-icons left">add</i>Add
				Cuisine</a>
        </div>
    </div>

    <div>
        <ul class="row collapsible collapsible_container">
            {% for cuisine in cuisine %}
            <li class="col s12 m7 offset-m2 ">
                <div class="row collapsible-header">
                    <div class="col s5 recipe_header">

                        {{cuisine.cuisine_type}}
                    </div>
                    <div class="col s6 recipespage_btn">
                        <a href="{{url_for('editcuisine', cuisine_id = cuisine._id)}}" class="waves-effect waves-light btn yellow  lighten-2 btn_edit_view btn-small "><i class="material-icons ">edit</i></a>
                        <a href="#modal2" class="waves-effect waves-light btn deep-orange darken-3 btn_edit_view btn-small modal-trigger "><i class="material-icons">delete_forever</i></a>

                        <!-- Modal Structure -->

                        <div id="modal2" class="modal modal-fixed-footer col s10 m6">
                            <div class="modal-content">
                                <div class="row">
                                    <div class="col s2 offset-s3 m2 offset-m4 l2 offset-l5">
                                        <i class="material-icons warning">warning</i></div>
                                </div>
                                <h4 class="modal_head">Are you sure you want delete it?</h4>
                                <p class="modal_p">You won't be able to revert this!</p>
                            </div>

                            <div class="modal-footer">
                                <a href="{{url_for('deletecuisine', cuisine_id = cuisine._id)}}" class="modal-close waves-effect waves-green  btn deep-orange darken-3 btn_modal">Yes,
									delete
									it!</a>
                                <a href="#!" class="modal-close waves-effect waves-green  btn deep-green darken-3 btn_modal">No,
									cancel!</a>
                            </div>
                        </div>

                    </div>
                </div>

            </li>
            {% endfor %}

        </ul>

        <div class="row ">
            <div class="col s12">
                <a href="{{url_for('get_recipes')}}" class="waves-effect waves-light btn light-blue darken-4 right go_back_to_home">
                    <i class="material-icons right">send</i>Back to All Recipes
                </a>

            </div>
        </div>
    </div>
</div>

{% endblock %}