{% extends 'base.html' %} {% block content %}

<div class="all_recipes_container ">

    <div class="h2">
        <h2 class="heading_shadow">View all Recipes</h2>
    </div>

    <div class="row">
        <div class="allrecipes_addbutton col s9 offset-s3 m4 offset-m8">
            <a href="{{url_for('addrecipe')}}" class="waves-effect waves-light btn light-blue darken-4 btn_add "><i class="material-icons left">add</i>Add
				Recipe</a>
        </div>
    </div>

    <div class="container  recipes_list">
        <ul class="row">
            {% for recipe in recipes %}
            <li class="col s12 m3">

                <div class="collapsible-header recipe_item">
                    <div class="col s12 recipe_header">
                       <a href="{{url_for('recipemainpage', recipe_id=recipe._id)}}" class="strong" > <strong>{{recipe.recipe_title}}</strong> </a> 
                       <p class="margin"> <i class="italic">Category: </i>{{recipe.category_name}} </p> 
                       <p class="margin"><i class="italic">Cuisine: </i>{{recipe.cuisine_type}} </p> 
                       <p class="margin"><i class="italic">Cook time: </i>{{recipe.cook_time}} minutes</p> 
                    </div>

                    <div class="col s9 offset-s1 xl3  recipespage_btn">
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

</div>
{% endblock %}